proxy_http_version 1.1;

resolver 169.254.169.253 valid=10s ipv6=off;

location /images/ {
  expires 5s;
  root /usr/share/nginx/html;
  try_files $uri /images/placeholder.jpg;
}

location = /health {
  default_type text/plain;
  return 200 "OK\n";
}


# -----------------------------
# Catalogue Service
# -----------------------------
location /api/catalogue/ {
  rewrite ^/api/catalogue/(.*)$ /$1 break;

  proxy_set_header Host catalogue.dev.optimusprime.uno;
  proxy_set_header X-Forwarded-Host $host;
  proxy_set_header X-Forwarded-Proto $scheme;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

  proxy_pass http://catalogue.dev.optimusprime.uno;
}

# -----------------------------
# User Service
# -----------------------------
location /api/user/ {
  rewrite ^/api/user/(.*)$ /$1 break;

  proxy_set_header Host user.dev.optimusprime.uno;
  proxy_set_header X-Forwarded-Host $host;
  proxy_set_header X-Forwarded-Proto $scheme;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

  proxy_pass http://user.dev.optimusprime.uno;
}

# -----------------------------
# Cart Service
# -----------------------------
location /api/cart/ {
  rewrite ^/api/cart/(.*)$ /$1 break;

  proxy_set_header Host cart.dev.optimusprime.uno;
  proxy_set_header X-Forwarded-Host $host;
  proxy_set_header X-Forwarded-Proto $scheme;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

  proxy_pass http://cart.dev.optimusprime.uno;
}

# -----------------------------
# Shipping Service
# -----------------------------
location /api/shipping/ {
  rewrite ^/api/shipping/(.*)$ /$1 break;

  proxy_set_header Host shipping.dev.optimusprime.uno;
  proxy_set_header X-Forwarded-Host $host;
  proxy_set_header X-Forwarded-Proto $scheme;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

  proxy_pass http://shipping.dev.optimusprime.uno;
}

# -----------------------------
# Payment Service
# -----------------------------
location /api/payment/ {
  rewrite ^/api/payment/(.*)$ /$1 break;

  proxy_set_header Host payment.dev.optimusprime.uno;
  proxy_set_header X-Forwarded-Host $host;
  proxy_set_header X-Forwarded-Proto $scheme;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

  proxy_pass http://payment.dev.optimusprime.uno;
}

# -----------------------------
# Ratings Stub
# -----------------------------
location /api/ratings/ {
  default_type application/json;
  return 200 '[]';
}