[Unit]
Description=Cart Service

[Service]
User=roboshop
Environment=REDIS_HOST={{ redis_host }}
Environment=CATALOGUE_HOST={{ catalogue_host }}
Environment=CATALOGUE_PORT={{ catalogue_port }}
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target