[Unit]
Description=Payment Service

[Service]
User=root
WorkingDirectory=/app
Environment=CART_HOST={{ cart_host }}
Environment=CART_PORT={{ cart_port }}
Environment=USER_HOST={{ user_host }}
Environment=USER_PORT={{ user_port }}
Environment=AMQP_HOST={{ rabbitmq_host }}
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS=roboshop123

ExecStart=/usr/local/bin/uwsgi --ini payment.ini
ExecStop=/bin/kill -9 $MAINPID
SyslogIdentifier=payment

[Install]
WantedBy=multi-user.target